<!-- FOOTER -->
<footer>
    <!-- copyright , scrollTo Top -->
    <div class="footer-bar">
        <div class="container">
            <span class="copyright">Copyright &copy; Jhupro Services Pvt Ltd. All Rights Reserved.</span>
            <a class="toTop" href="#topNav">BACK TO TOP <i class="fa fa-arrow-circle-up"></i></a>
        </div>
    </div>
    <!-- copyright , scrollTo Top -->
    <!-- footer content -->
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <!-- FOOTER CONTACT INFO -->
                <div class="column col-md-4">
                    <h3>CONTACT</h3>

                    <p class="contact-desc">
                        Nepal Office
                    </p>
                    <address class="font-opensans">
                        <ul>
                            <li class="footer-sprite address">
                                Parijat Marg<br />
                                Hetauda, Makawanpur<br />
                                Nepal<br />
                            </li>
                            <li class="footer-sprite phone">
                                Phone: 977-9806855468
                            </li>
                            <li class="footer-sprite email">
                                <%=link_to "info@jhupro.com", "mailto:info@jhupro.com"%>
                            </li>
                        </ul>
                    </address>
                </div>
                <!-- FOOTER LOGO -->
                <div class="column logo col-md-4 text-center">
                    <div class="logo-content">
                        <%= image_tag("logo-text-bottom.png",
                                      {class: "animate_fade_in", alt: "Jhupro", width: "300"}) %>
                        <h4>Professional | Friendly | Suitable</h4>
                    </div>
                </div>
                <!-- /FOOTER LOGO -->

                <!-- FOOTER LATEST POSTS -->
                <div class="column col-md-4 text-right">
                    <h3>CONTACT</h3>
                    <p class="contact-desc">
                        US Office
                    </p>
                    <address class="font-opensans pull-right">
                        <ul>
                            <li class="footer-sprite address">
                                8735 Summercrest Ln<br />
                                San Diego, CA<br />
                                92071 United States<br />
                            </li>
                            <li class="footer-sprite phone">
                                Phone: 1-650-278-3990
                            </li>
                            <li class="footer-sprite email">
                                <%=link_to "saurav.jhupro@gmail.com", "mailto:saurav.jhupro@gmail.com"%>
                            </li>
                        </ul>
                    </address>
                </div>
                <!-- /FOOTER LATEST POSTS -->
            </div>
        </div>
    </div>
    <!-- footer content -->
</footer>
<!-- /FOOTER -->